<div class='w3-row-padding w3-center w3-margin-top'>
  <div class='w3-col l4'>
    <div class='w3-card-4 w3-margin-bottom w3-padding w3-round transbg'>
      {% editable_text card1 %}
      {% endeditable_text %}
    </div>
  </div>
  <div class='w3-col l4'>
    <div class='w3-card-4 w3-margin-bottom w3-padding w3-round transbg'>
      {% editable_text card2 %}
      {% endeditable_text %}
    </div>
  </div>
  <div class='w3-col l4'>
    <div class='w3-card-4 w3-margin-bottom w3-padding w3-round transbg'>
      {% editable_text card3 %}
      {% endeditable_text %}
    </div>
  </div>
</div>
