<div class='w3-bar'>
  <a class='w3-bar-item w3-button' href='/'>{{ 'home' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/page2'>Page 2</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/page3'>Page 3</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/page4'>Page 4</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/page5'>Page 5</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/aboutus'>{{ 'about' | translate }}</a>
  <a class='w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium' href='javascript:void(0)' onclick='openNav()'>&#9776;</a>
</div>
<div class='w3-bar-block w3-hide w3-hide-large w3-hide-medium' id='navicon'>
  <a class='w3-bar-item w3-button' href='/'>{{ 'home' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/page2'>Page 2</a>
  <a class='w3-bar-item w3-button' href='/page3'>Page 3</a>
  <a class='w3-bar-item w3-button' href='/page4'>Page 4</a>
  <a class='w3-bar-item w3-button' href='/page5'>Page 5</a>
  <a class='w3-bar-item w3-button' href='/about/aboutus'>{{ 'about' | translate }}</a>
</div>
