<a href='https://www.facebook.com/{{ people.facebook }}'>
  <i class='fa fa-2x fa-facebook'></i>
</a>
<a href='https://www.twitter.com/{{ people.twitter }}'>
  <i class='fa fa-2x fa-twitter'></i>
</a>
<a href='https://www.plus.google.com/{{ people.google }}'>
  <i class='fa fa-2x fa-google-plus'></i>
</a>
<a href='https://www.linkedin.com/{{ people.linkedin }}'>
  <i class='fa fa-2x fa-linkedin'></i>
</a>
