---
title: About
slug: about
position: 99
listed: false
published: true
is_layout: false
editable_elements:
  content/main/intro: |-
    <p>It's no secret that getting featured by the press in the right media at the right time can dramatically boost your startup momentum.</p>
        <p>That's why we've put together these 3 little tools to help you do it.</p>
  content/main/cards/card1: ''
  content/main/cards/card2: ''
  content/main/cards/card3: ''
  content/main/message: Need to contact us? Send your message to <span class="accent">olivia&nbsp;(at)&nbsp;startuppressroom.com<span>
  content/header/header: |-
    <div class='accent w3-small'>#&nbsp;<span>StartupPressroom</span></div>
        <h1 class='w3-xxxlarge w3-animate-bottom'>IS YOUR STARTUP READY FOR JOURNALISTS?</h1>
        <div class='accent w3-small'>#2&nbsp;<span>MEET-a-MEDIA at betahaus Berlin , Thursday 7th April 2016</span></div>
---
{% extends parent %}